[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask-sqlalchemy = "*"
flask-restful = "*"
flask-cors = "*"
flask-security-too = "*"
email-validator = "*"
bcrypt = "*"
bleach = "*"
redis = "*"
celery = {extras = ["redis"], version = "*"}
pandas = "*"
werkzeug = "==2.1.2"

[dev-packages]

[requires]
python_version = "3.8"
