<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
</head>
<body>
    <p>Dear {{user['name']}},</p>
    <p>Here is the monthly score report for your Flash Card Application </p>
    <table>
        <tr>
            <th>Deck</th>
            <th>Score</th>
        </tr>
        {% for item in deck_scores %}
        <tr>
            <td class="c1">{{item.deck_name}}</td>
            <td class="c2">{{item.deck_score}}</td>
        </tr>
        {% endfor %}
    </table>
    <p>Regards,</p>
    <p>Support Team, FCA</p>
</body>
</html>